section.calculator-adds.offset
	.h3.mb-20 Добавить для заказа
	.newest__grid
		a.card(href="#")
			svg.card__add-img
				use(xlink:href='#izd-vodootliv')
			.card__add-block
				span Водоотлив
				span от 300 ₽
		a.card(href="#")
			svg.card__add-img
				use(xlink:href='#izd-nashelnik')
			.card__add-block
				span Нащельник
				span от 300 ₽
		a.card(href="#")
			svg.card__add-img
				use(xlink:href='#izd-ugvnesh')
			.card__add-block
				span Уголок внешний
				span от 300 ₽
		a.card(href="#")
			svg.card__add-img
				use(xlink:href='#izd-ugvnutr')
			.card__add-block
				span Уголок внутренний
				span от 300 ₽
		a.card(href="#")
			svg.card__add-img
				use(xlink:href='#izd-kozyrek')
			.card__add-block
				span Козырек
				span от 300 ₽
