section.newest.offset
	.h2 Похожие товары
	.newest__grid
		.card
			span.card__favorite
				svg.card__favorite-img
					use(xlink:href='#heart')
			a(href="#").card__figure
				+img('kudo.png', 'card__figure-img', '')
			.card__prices
				.card__prices-current 300 ₽
				.card__prices-old 300 ₽
				.card__prices-discount -30 %
			.card__title
				a(href="product.html") KUPH05U15+ Пена полиуретановая монтажная бытовая
			.card__rate
				.card__rate-star 4.9
				a(href="#").card__rate-testi
					svg.card__rate-img
						use(xlink:href='#bulb')
					| 48 000 отзывов
		.card
			span.card__favorite
				svg.card__favorite-img
					use(xlink:href='#heart')
			a(href="#").card__figure
				+img('kudo.png', 'card__figure-img', '')
			.card__prices
				.card__prices-current 300 ₽
				.card__prices-old 300 ₽
				.card__prices-discount -30 %
			.card__title
				a(href="product.html") KUPH05U15+ Пена полиуретановая монтажная бытовая
			.card__rate
				.card__rate-star 4.9
				a(href="#").card__rate-testi
					svg.card__rate-img
						use(xlink:href='#bulb')
					| 48 000 отзывов
		.card
			span.card__favorite
				svg.card__favorite-img
					use(xlink:href='#heart')
			a(href="#").card__figure
				+img('kudo.png', 'card__figure-img', '')
			.card__prices
				.card__prices-current 300 ₽
				.card__prices-old 300 ₽
				.card__prices-discount -30 %
			.card__title
				a(href="product.html") KUPH05U15+ Пена полиуретановая монтажная бытовая
			.card__rate
				.card__rate-star 4.9
				a(href="#").card__rate-testi
					svg.card__rate-img
						use(xlink:href='#bulb')
					| 48 000 отзывов
		.card
			span.card__favorite
				svg.card__favorite-img
					use(xlink:href='#heart')
			a(href="#").card__figure
				+img('kudo.png', 'card__figure-img', '')
			.card__prices
				.card__prices-current 300 ₽
				.card__prices-old 300 ₽
				.card__prices-discount -30 %
			.card__title
				a(href="product.html") KUPH05U15+ Пена полиуретановая монтажная бытовая
			.card__rate
				.card__rate-star 4.9
				a(href="#").card__rate-testi
					svg.card__rate-img
						use(xlink:href='#bulb')
					| 48 000 отзывов
		.card
			span.card__favorite
				svg.card__favorite-img
					use(xlink:href='#heart')
			a(href="#").card__figure
				+img('kudo.png', 'card__figure-img', '')
			.card__prices
				.card__prices-current 300 ₽
				.card__prices-old 300 ₽
				.card__prices-discount -30 %
			.card__title
				a(href="product.html") KUPH05U15+ Пена полиуретановая монтажная бытовая
			.card__rate
				.card__rate-star 4.9
				a(href="#").card__rate-testi
					svg.card__rate-img
						use(xlink:href='#bulb')
					| 48 000 отзывов
