section.news.offset
	.h2 Новости
	.news__grid
		.news__grid-card
			.news__grid-figure
				+img('news.png', 'news__grid-img', '')
			.news__grid-date
				| 20.01.2025 10:59
			.news__grid-text
				| Внимание! Изменение отпускных цен на подоконники ПВХ.
		.news__grid-card
			.news__grid-figure
				+img('news.png', 'news__grid-img', '')
			.news__grid-date
				| 20.01.2025 10:59
			.news__grid-text
				| Внимание! Изменение отпускных цен на подоконники ПВХ.
		.news__grid-card
			.news__grid-figure
				+img('news.png', 'news__grid-img', '')
			.news__grid-date
				| 20.01.2025 10:59
			.news__grid-text
				| Внимание! Изменение отпускных цен на подоконники ПВХ.
		.news__grid-card
			.news__grid-figure
				+img('news.png', 'news__grid-img', '')
			.news__grid-date
				| 20.01.2025 10:59
			.news__grid-text
				| Внимание! Изменение отпускных цен на подоконники ПВХ.
		.news__grid-card
			.news__grid-figure
				+img('news.png', 'news__grid-img', '')
			.news__grid-date
				| 20.01.2025 10:59
			.news__grid-text
				| Внимание! Изменение отпускных цен на подоконники ПВХ.