.banner
	.banner__content
		div.banner__title
			| ДОСТАВКА БЕСПЛАТНА ПО ВСЕЙ РОССИИ ПРИ ЗАКАЗЕ ОТ 100 000 РУБЛЕЙ 
			sup *
		div.banner__text
			sup * 
			| При онлайн оплате!
	.banner__img
		+png-pic('images', 'house', ['webp', 'png'])
