.banner
	.banner__content
		div.banner__title
			| ДОСТАВКА БЕСПЛАТНА ПО ВСЕЙ РОССИИ ПРИ ЗАКАЗЕ ОТ 100 000 РУБЛЕЙ 
			sup *
		div.banner__text
			sup * 
			| При онлайн оплате!
	.banner__img
		picture
			source(srcset='images/house-m.webp' type='image/webp' media="(max-width: 768px)")
			source(srcset='images/house.webp' type='image/webp' media='(min-width: 769px)')
			source(srcset='images/house.png' type='image/png')
			img(src='' alt='house')
