@use "./mixins";

html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font-family: var(--font-main);
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--dark);
  line-height: 1.2;

  background-color: var(--bg-main);
}

.offset {
  margin-bottom: 50px;
  @include mixins.mw1024 {
    margin-bottom: 35px;
  }
  @include mixins.mw768 {
    margin-bottom: 25px;
  }
}

.page-wrapper {
  display: grid;
  grid-template-columns: 224px 1fr;
  grid-gap: 20px;

	@include mixins.mw768 {
		grid-template-columns: 1fr;
		grid-gap: 10px;
	}
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #eeedff;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #bdbae7;
  border-radius: 10px;
  border: 3px solid #bdbae7;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: #b79cda #c9c7e9;
  }
}
