@use './mixins';

.container {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;

	@include mixins.mw1200 {max-width: 1024px;}
	@include mixins.mw1024 {max-width: 992px;}
	@include mixins.mw992 {max-width: 768px;}
	@include mixins.mw768 {max-width: 575px;}
	@include mixins.mw575 {
		max-width: unset;
		padding: 0 var(--container-padding);
	}
}

.container-fluid {
	margin: 0 auto;
	padding: 0 var(--container-padding);
	max-width: var(--container-width);
	max-width: 1920px;
}

.container-right {
	//overflow-x: hidden;
	margin-left: auto;
	margin-left: calc((100vw - var(--container-width)) / 2 + var(--container-padding));
}

.container-left {
	// overflow-x: hidden;
	padding-right: calc((100vw - var(--container-width)) / 2 + var(--container-padding));
}