@use './mixins';

:root {
	--container-width: 1200px;
	--container-padding: 15px;

	--bg-main: #ffffff;
	
	--accent-color: #F91155;
	--details-color: #1144AA;
	--text-color: #181819;

	--gray-light: #D9D9D9;
	--gray: #9C9DA9;
	--gray-dark: #484848;
	--footer-text: #6B6B6B;
	--white: #ffffff;

	--font-main: "Montserrat", sans-serif;
	--font-head: "Montserrat", sans-serif;

	--box-shadow-card: 0 4px 30px RGBA(0, 0, 0, 10%);
	--box-shadow-light: 0 4px 17px RGBA(0, 0, 0, 10%);
	--btn-gradient: linear-gradient(to right, #A745D4, #0A50D1);
	--btn-hover-gradient: linear-gradient(to right, #FFBB00, #FFCC40);

	--transition: color 0.18s ease-in-out, background-color 0.18s ease-in-out, border-color 0.18s ease-in-out, box-shadow 0.18s ease-in-out;

	/*-
	@include mixins.mw1024 {
		--container-padding: 54px; 
	}

	@include mixins.mw768 {
		--container-padding: 20px;
	}	
	*/
}