.dropdown-block
	.dropdown
		.dropdown-header
			span Монтажная пена и очистители пен и герметиков
			svg.drop__uparrow
				use(xlink:href='#arrow-down')
		.dropdown-list
			a.dropdown-item(href='#') Монтажная пена и очистители пен и герметиков
			a.dropdown-item(href='#') Монтажная пена и очистители пен и герметиков 2
			a.dropdown-item(href='#') Монтажная пена и очистители пен и герметиков 3
	.dropdown
		.dropdown-header
			span Отделочные материалы
			svg.drop__uparrow
				use(xlink:href='#arrow-down')
		.dropdown-list
			a.dropdown-item(href='#') Отделочные материалы
			a.dropdown-item(href='#') Отделочные материалы 2
			a.dropdown-item(href='#') Отделочные материалы 3
	.dropdown
		.dropdown-header
			span Крепеж, Анкерные пластины, Дюбеля
			svg.drop__uparrow
				use(xlink:href='#arrow-down')
		.dropdown-list
			a.dropdown-item(href='#') Крепеж, Анкерные пластины, Дюбеля
			a.dropdown-item(href='#') Крепеж, Анкерные пластины, Дюбеля 2
			a.dropdown-item(href='#') Крепеж, Анкерные пластины, Дюбеля 3
	.dropdown
		.dropdown-header
			span Сэндвич и ПВХ панели
			svg.drop__uparrow
				use(xlink:href='#arrow-down')
		.dropdown-list
			a.dropdown-item(href='#') Сэндвич и ПВХ панели
			a.dropdown-item(href='#') Сэндвич и ПВХ панели 2
			a.dropdown-item(href='#') Сэндвич и ПВХ панели 3
	.dropdown
		.dropdown-header
			span Отливы, Козырьки, Металл в рулонах, Штрипс
			svg.drop__uparrow
				use(xlink:href='#arrow-down')
		.dropdown-list
			a.dropdown-item(href='#') Отливы, Козырьки, Металл в рулонах, Штрипс
			a.dropdown-item(href='#') Отливы, Козырьки, Металл в рулонах, Штрипс 2
			a.dropdown-item(href='#') Отливы, Козырьки, Металл в рулонах, Штрипс 3

.new-goods
	.new-goods__title
		| Новые товары
		button.new-goods__btn(type="button") 
			svg.drop__uparrow
				use(xlink:href='#arrow-right')
	.new-goods__grid
		.new-goods__card.card
			button(type="button").card__favorite
				svg.card__favorite-img
					use(xlink:href='#heart')
			a(href="#").card__figure
				+img('kudo.png', 'card__figure-img', '')
			.new-goods__block
				.card__prices
					.card__prices-current 134 ₽
				.card__rate
					svg.card__favorite-img
						use(xlink:href='#star-color')
					| 4.8 
					a(href="#").card__rate-testi
						| 569 отзывов
		.new-goods__card.card
			button(type="button").card__favorite
				svg.card__favorite-img
					use(xlink:href='#heart')
			a(href="#").card__figure
				+img('kudo.png', 'card__figure-img', '')
			.new-goods__block
				.card__prices
					.card__prices-current 134 ₽
				.card__rate
					svg.card__favorite-img
						use(xlink:href='#star-color')
					| 4.8 
					a(href="#").card__rate-testi
						| 569 отзывов
		.new-goods__card.card
			button(type="button").card__favorite
				svg.card__favorite-img
					use(xlink:href='#heart')
			a(href="#").card__figure
				+img('kudo.png', 'card__figure-img', '')
			.new-goods__block
				.card__prices
					.card__prices-current 135 ₽
				.card__rate
					svg.card__favorite-img
						use(xlink:href='#star-color')
					| 4.8 
					a(href="#").card__rate-testi
						| 569 отзывов