.quantity
	button.quantity__minus
		svg(viewbox="0 0 24 24")
			line(x1="5" y1="12" x2="20" y2="12")
	input.quantity__field(type="text" value="1" size="2" data-max-count="100")
	button.quantity__plus
		svg(viewbox="0 0 24 24")
			line(x1="12" y1="5" x2="12" y2="20")
			line(x1="5" y1="12" x2="20" y2="12")