@use "../../base/mixins";

#burger {
  display: none;
  flex-direction: column;
  gap: 6px;
  width: 40px;

  @include mixins.mw1024 {
    display: flex;
  }

  & > span {
    margin: 0;
    display: block;
    height: 3px;
    background-color: #121212;
    border-radius: 3px;
    transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);

    &:nth-child(1) {
      width: 20px;
    }
    &:nth-child(2) {
      width: 40px;
    }
    &:nth-child(3) {
      width: 30px;
    }
  }

  &.active {
    span {
      &:nth-child(1) {
        transform-origin: bottom;
        transform: rotatez(45deg) translate(1px, 0px);
        width: 13px;
      }

      &:nth-child(2) {
        transform-origin: top;
        width: 30px;
        transform: rotatez(-45deg) translate(0px, -1px);
      }

      &:nth-child(3) {
        transform-origin: bottom;
        width: 13px;
        transform: translate(14px, -4px) rotatez(45deg);
      }
    } //- span
  } //-  end &.active
} //- end #burger
