.products {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
	grid-gap: 20px;

	&__card {
		padding: 30px 10px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		border: 1px solid #E9E9E9;
		border-radius: 20px;
		box-shadow: 0 4px 30px RGBA(0, 0, 0, 10%);
		min-height: 154px;

		background-image: url("data:image/svg+xml,%3Csvg width='200' height='200' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M 50,5 L 61,35 L 98,35 L 68,57 L 79,91 L 50,70 L 21,91 L 32,57 L 2,35 L 39,35 Z' fill='none' stroke='%23E9E9E9' stroke-width='1' /%3E%3C/svg%3E");
			background-position: 80px 28px;
			background-size: 220px 220px;
			background-repeat: no-repeat;

		// position: relative;
		// //overflow: hidden;

		// &::after {
		// 	content: '';
		// 	position: absolute;
		// 	right: 0;
		// 	top: 0;
		// 	display: block;
		// 	width: 200px;
		// 	height: 200px;
		// 	background-image: url("data:image/svg+xml,%3Csvg width='200' height='200' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M 50,5 L 61,35 L 98,35 L 68,57 L 79,91 L 50,70 L 21,91 L 32,57 L 2,35 L 39,35 Z' fill='none' stroke='%23D9D9D9' stroke-width='2' /%3E%3C/svg%3E");
		// 	background-size: contain;
		// 	background-position: center;
		// 	pointer-events: none;
		// }

		&:nth-child(1) .products__card-img {
			width: 74px;
			height: 51px;
		}
		&:nth-child(2) .products__card-img {
			width: 62px;
			height: 60px;
		}
		&:nth-child(3) .products__card-img {
			width: 60px;
			height: 50px;
		}
		&:nth-child(4) .products__card-img {
			width: 44.5px;
			height: 59px;
		}
		&:nth-child(5) .products__card-img {
			width: 49px;
			height: 59px;
		}
		&:nth-child(6) .products__card-img {
			width: 21px;
			height: 71px;
		}
		&:nth-child(7) .products__card-img {
			width: 79px;
			height: 47px;
		}
		&:nth-child(8) .products__card-img {
			width: 77px;
			height: 53px;
		}
		&:nth-child(9) .products__card-img {
			width: 58.5px;
			height: 50px;
		}
		&:nth-child(10) .products__card-img {
			width: 25.5px;
			height: 60px;
		}

		&-title {
			font-size: 11px;
			color: var(--details-color);
			font-weight: 700;
		}
	}
}
