@use "../base/mixins";

.order {
  &__wrapper {
    position: relative;
    min-height: 310px;
		max-height: 310px;
		transition: max-height 0.6s ease-out;
    overflow: hidden;

		&.show {
			max-height: 100%;
		}
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: flex-start;
    grid-gap: 20px;

    .cart-goods__item {
      align-items: stretch;
    }

    .cart-goods__info {
      margin-top: auto;
    }

    .cart-goods__desc {
      display: flex;
      flex-direction: column;
    }
  }

  .place-on {
    flex-direction: column;
    gap: 5px;
  }

  .delive__submit {
    margin-top: 0;
    max-width: unset;
  }

  &__show-more {
    display: flex;
    align-items: center;
    gap: 4px;

    position: absolute;
    bottom: 25px;
    left: 490px;
    font-size: 11px;
    font-weight: 600;
    color: var(--details-color);

    svg {
      stroke: var(--details-color);
      width: 16px;
      height: 16px;
    }

    .od-show {
      display: none;
    }

    &.show {
      .od-show {
        display: block;
      }
      .od-hide {
        display: none;
      }
      svg {
        transform: rotate(180deg);
      }
    }
  }
}
