section.calculator.offset
	.h2.h2--xm Калькулятор
	form.calculator__form
		.calculator__grid
			.calculator__grid-item
				.calculator__grid-name.w-100 
					svg
						use(xlink:href='#izd-vodootliv')
					| Водоотлив
				label.calculator__grid-label.w-100 
					| Цвет
					input(type="text")
				label.calculator__grid-label.w-100 
					| Ширина А, мм
					input(type="number")
				label.calculator__grid-label.w-100 
					| Ширина Б, мм
					input(type="number")
				label.calculator__grid-label.w-100 
					| Длина, мм
					input(type="number")
				.calculator__grid-label
					| Количество, шт
					include ../../components/quantity/quantity-cart
				label.calculator__grid-label.cgl-price
					| Стоимость
					input(type="text" placeholder="-")
				button.calculator__grid-close
					svg
						use(xlink:href='#close')
			.calculator__grid-item
				.calculator__grid-name.w-100 
					svg
						use(xlink:href='#izd-vodootliv')
					| Водоотлив
				label.calculator__grid-label.w-100 
					| Цвет
					input(type="text")
				label.calculator__grid-label.w-100 
					| Ширина А, мм
					input(type="number")
				label.calculator__grid-label.w-100 
					| Ширина Б, мм
					input(type="number")
				label.calculator__grid-label.w-100 
					| Длина, мм
					input(type="number")
				.calculator__grid-label
					| Количество, шт
					include ../../components/quantity/quantity-cart
				label.calculator__grid-label.cgl-price
					| Стоимость
					input(type="text" placeholder="-")
				button.calculator__grid-close
					svg
						use(xlink:href='#close')
			.calculator__grid-item
				.calculator__grid-name.w-100 
					svg
						use(xlink:href='#izd-vodootliv')
					| Водоотлив
				label.calculator__grid-label.w-100 
					| Цвет
					input(type="text")
				label.calculator__grid-label.w-100 
					| Ширина А, мм
					input(type="number")
				label.calculator__grid-label.w-100 
					| Ширина Б, мм
					input(type="number")
				label.calculator__grid-label.w-100 
					| Длина, мм
					input(type="number")
				.calculator__grid-label
					| Количество, шт
					include ../../components/quantity/quantity-cart
				label.calculator__grid-label.cgl-price
					| Стоимость
					input(type="text" placeholder="-")
				button.calculator__grid-close
					svg
						use(xlink:href='#close')
			.calculator__grid-item
				.calculator__grid-name.w-100 
					svg
						use(xlink:href='#izd-vodootliv')
					| Водоотлив
				label.calculator__grid-label.w-100 
					| Цвет
					input(type="text")
				label.calculator__grid-label.w-100 
					| Ширина А, мм
					input(type="number")
				label.calculator__grid-label.w-100 
					| Ширина Б, мм
					input(type="number")
				label.calculator__grid-label.w-100 
					| Длина, мм
					input(type="number")
				.calculator__grid-label
					| Количество, шт
					include ../../components/quantity/quantity-cart
				label.calculator__grid-label.cgl-price
					| Стоимость
					input(type="text" placeholder="-")
				button.calculator__grid-close
					svg
						use(xlink:href='#close')
		.calculator__down
			.calculator__down-item
				.calculator__down-line
					span Количество позиций
					span 4 шт
				.calculator__down-line
					span Итоговая стоимость
					span.calculator__down-price 199 ₽
			.calculator__down-item
				button.btn.btn--accent(type="button")
					| Купить в один клик