extends layout/aside 

block variables
	-var title = 'Каталог'

block breadcrumbs
	include components/breadcrumbs/breadcrumbs-catalog

block aside
	include blocks/aside/aside-catalog

block content	
	include blocks/catalog/catalog-grid

