extends layout/base 

block variables
	-var title = 'Контакты'

block content
	.container
		div(style="width:300px;margin:50px auto 0;")
			h1 Contacts group
			p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, praesentium?
			br
			a.btn(href='/') Go Home
