extends layout/base 

block variables
	-var title = 'Главная страница'

block content

	include components/banner/banner
	
	include blocks/products/products
	
	include blocks/brands/brands
	
	include blocks/news/news
	
	include blocks/newest/newest
	
	include blocks/offices/offices
	
	include blocks/form/form
