extends layout/base-breadcrumb 

block variables
	-var title = 'Продукт'

block breadcrumbs
	include components/breadcrumbs/breadcrumbs-product

block content	
	include blocks/products/product-block

	include blocks/testimonials/testimonials
	
	include blocks/similar-products/similar-products
	