section.testimonials.offset
	.h2 Отзывы
	.testimonials__wrapper
		button.testimonials__slider-prev(type="button")
			svg
				use(xlink:href='#arrow-left')
		.testimonials__slider
			.swiper-wrapper
				.swiper-slide
					.testimonials__slider-item
						.testimonials__slider-name Иван Иванов
						.testimonials__slider-stars 
							svg.card__favorite-img
								use(xlink:href='#star-color')
							svg.card__favorite-img
								use(xlink:href='#star-color')
							svg.card__favorite-img
								use(xlink:href='#star-color')
							svg.card__favorite-img
								use(xlink:href='#star-color')
							svg.card__favorite-img
								use(xlink:href='#star-color')
						.testimonials__slider-review
							| Отличный очиститель, убрал пену с одежды и мебели. Рекомендую!
				.swiper-slide
					.testimonials__slider-item
						.testimonials__slider-name Иван Иванов
						.testimonials__slider-stars 
							svg.card__favorite-img
								use(xlink:href='#star-color')
							svg.card__favorite-img
								use(xlink:href='#star-color')
							svg.card__favorite-img
								use(xlink:href='#star-color')
							svg.card__favorite-img
								use(xlink:href='#star-color')
							svg.card__favorite-img
								use(xlink:href='#star-color')
						.testimonials__slider-review
							| Отличный очиститель, убрал пену с одежды и мебели. Рекомендую!
				.swiper-slide
					.testimonials__slider-item
						.testimonials__slider-name Иван Иванов
						.testimonials__slider-stars 
							svg.card__favorite-img
								use(xlink:href='#star-color')
							svg.card__favorite-img
								use(xlink:href='#star-color')
							svg.card__favorite-img
								use(xlink:href='#star-color')
							svg.card__favorite-img
								use(xlink:href='#star-color')
							svg.card__favorite-img
								use(xlink:href='#star-color')
						.testimonials__slider-review
							| Отличный очиститель, убрал пену с одежды и мебели. Рекомендую!
				.swiper-slide
					.testimonials__slider-item
						.testimonials__slider-name Иван Иванов
						.testimonials__slider-stars 
							svg.card__favorite-img
								use(xlink:href='#star-color')
							svg.card__favorite-img
								use(xlink:href='#star-color')
							svg.card__favorite-img
								use(xlink:href='#star-color')
							svg.card__favorite-img
								use(xlink:href='#star-color')
							svg.card__favorite-img
								use(xlink:href='#star-color')
						.testimonials__slider-review
							| Отличный очиститель, убрал пену с одежды и мебели. Рекомендую!
				.swiper-slide
					.testimonials__slider-item
						.testimonials__slider-name Иван Иванов
						.testimonials__slider-stars 
							svg.card__favorite-img
								use(xlink:href='#star-color')
							svg.card__favorite-img
								use(xlink:href='#star-color')
							svg.card__favorite-img
								use(xlink:href='#star-color')
							svg.card__favorite-img
								use(xlink:href='#star-color')
							svg.card__favorite-img
								use(xlink:href='#star-color')
						.testimonials__slider-review
							| Отличный очиститель, убрал пену с одежды и мебели. Рекомендую!
		button.testimonials__slider-next(type="button") 
			svg
				use(xlink:href='#arrow-right')
