.callback-bg
	.callback
		button(class="callback-close") X

		h2 Обратный звонок

		p Оставьте контактные данные, чтобы мы связались с вами 
		
		form(class="form-mobile jsForm")
			label
				input(type="text" name="userName" placeholder="Имя")

			label
				input(type="tel" name="userPhone" placeholder="Телефон")

			label
				textarea(name="userMessage" placeholder="Сообщение*")
			</label>
			
			label(class="form-ask__accept")
				input(class="v-hidden" type="checkbox" name="userAccept")
				span(class="accept")
					| Ознакомлен и согласен с&nbsp;
					a(href="/error-404.html") политикой обработки&#8203;
					| персональных данных

			button(class="btn" type="submit") Отправить