section.offices.offset
	.h2 Наши филиалы
	.offices__row
		.offices__info

			.offices__info-card
				.offices__info-title
					svg.offices__info-map
						use(xlink:href='#map')
					span.offices__info-address г. Иваново, ул. Калашникова. д. 28
					button.jsOfInfoShow.offices__info-show
						svg.offices__info-downarrow
							use(xlink:href='#arrow-down')
				.offices__info-content
					.offices__info-caption 
						| Контактная информация
						button.jsOfInfoHide.offices__info-show
							svg.offices__info-uparrow
								use(xlink:href='#arrow-up')
					.offices__info-blocks
						.offices__info-block
							.offices__info-item
								svg.offices__info-map
									use(xlink:href='#map')
								span.offices__info-address г. Иваново, ул. Калашникова. д. 28
							.offices__info-item
								svg.offices__info-itel
									use(xlink:href='#tel')
								a.offices__info-tel(href="tel:+79068888888") +7 (906) 888-88-88
							.offices__info-item
								svg.offices__info-imail
									use(xlink:href='#mail')
								a.offices__info-mail(href="mailto:Pochta@yandex.ru") Pochta@yandex.ru
						.offices__info-block
							| Дополнительные контакты
							.offices__info-item
								svg.offices__info-itel
									use(xlink:href='#tel')
								a.offices__info-tel(href="tel:+79068888888") +7 (906) 888-88-88

			.offices__info-card
				.offices__info-title
					svg.offices__info-map
						use(xlink:href='#map')
					span.offices__info-address г. Иваново, ул. Калашникова. д. 28
					button.jsOfInfoShow.offices__info-show
						svg.offices__info-downarrow
							use(xlink:href='#arrow-down')
				.offices__info-content
					.offices__info-caption 
						| Контактная информация
						button.jsOfInfoHide.offices__info-show
							svg.offices__info-uparrow
								use(xlink:href='#arrow-up')
					.offices__info-blocks
						.offices__info-block
							.offices__info-item
								svg.offices__info-map
									use(xlink:href='#map')
								span.offices__info-address г. Иваново, ул. Калашникова. д. 28
							.offices__info-item
								svg.offices__info-itel
									use(xlink:href='#tel')
								a.offices__info-tel(href="tel:+79068888888") +7 (906) 888-88-88
							.offices__info-item
								svg.offices__info-imail
									use(xlink:href='#mail')
								a.offices__info-mail(href="mailto:Pochta@yandex.ru") Pochta@yandex.ru
						.offices__info-block
							| Дополнительные контакты
							.offices__info-item
								svg.offices__info-itel
									use(xlink:href='#tel')
								a.offices__info-tel(href="tel:+79068888888") +7 (906) 888-88-88

			.offices__info-card
				.offices__info-title
					svg.offices__info-map
						use(xlink:href='#map')
					span.offices__info-address г. Иваново, ул. Калашникова. д. 28
					button.jsOfInfoShow.offices__info-show
						svg.offices__info-downarrow
							use(xlink:href='#arrow-down')
				.offices__info-content
					.offices__info-caption 
						| Контактная информация
						button.jsOfInfoHide.offices__info-show
							svg.offices__info-uparrow
								use(xlink:href='#arrow-up')
					.offices__info-blocks
						.offices__info-block
							.offices__info-item
								svg.offices__info-map
									use(xlink:href='#map')
								span.offices__info-address г. Иваново, ул. Калашникова. д. 28
							.offices__info-item
								svg.offices__info-itel
									use(xlink:href='#tel')
								a.offices__info-tel(href="tel:+79068888888") +7 (906) 888-88-88
							.offices__info-item
								svg.offices__info-imail
									use(xlink:href='#mail')
								a.offices__info-mail(href="mailto:Pochta@yandex.ru") Pochta@yandex.ru
						.offices__info-block
							| Дополнительные контакты
							.offices__info-item
								svg.offices__info-itel
									use(xlink:href='#tel')
								a.offices__info-tel(href="tel:+79068888888") +7 (906) 888-88-88

		.offices__map
			div(style='position:relative;overflow:hidden;border-radius:20px;border:1px solid #efefef;')
				a(href='https://yandex.ru/maps?utm_medium=mapframe&utm_source=maps' style='color:#eee;font-size:12px;position:absolute;top:0px;') &YAcy;&ncy;&dcy;&iecy;&kcy;&scy;&nbsp;&Kcy;&acy;&rcy;&tcy;&ycy;
				a(href='https://yandex.ru/maps/?ll=37.55%2C55.78&utm_medium=mapframe&utm_source=maps&z=9.05' style='color:#eee;font-size:12px;position:absolute;top:14px;') &YAcy;&ncy;&dcy;&iecy;&kcy;&scy;&nbsp;&Kcy;&acy;&rcy;&tcy;&ycy;
				iframe(src='https://yandex.ru/map-widget/v1/?ll=37.55%2C55.78&z=8.0' height='175' frameborder='0' allowfullscreen='true' style='position:relative;border-radius:20px;width:100%;')