.product__info
	.product__info-title KUPP06C Очиститель монтажной пены
	.product__info-rate.card__rate
		svg.card__favorite-img
			use(xlink:href='#star-color')
		| 4.8 
		a(href="#").card__rate-testi
			| 569 отзывов
	.product__info-btns
		button.active
			+img('../images/kudo.png', 'slider-goods__btn-img', 'Slider 1')
		button
			+img('../images/kudo.png', 'slider-goods__btn-img', 'Slider 2')

	.product__info-spec
		.h3 Характеристики:
		.spec 
			.spec__item.product__info-accent
				span.bg-accent Артикул: 
				.bg-accent УТЯ00019002
			.spec__item
				span В наличии: 
				| 4 шт.
			.spec__item
				span Бренд: 
				| Hatomi Nadonaka
			.spec__item
				span Тип товара: 
				| Пена летняя
			.spec__item
				span Цвет: 
				| Белый
