section.products.offset
	.products__card
		svg.products__card-img
			use(xlink:href='#izd-podokonniki')
		span.products__card-title
			| Подоконники
	.products__card
		svg.products__card-img
			use(xlink:href='#izd-metall')
		span.products__card-title
			| Изделия из металла
	.products__card
		svg.products__card-img
			use(xlink:href='#izd-catalog')
		span.products__card-title
			| Каталог
	.products__card
		svg.products__card-img
			use(xlink:href='#izd-moskit')
		span.products__card-title
			| Москитные сетки
	.products__card
		svg.products__card-img
			use(xlink:href='#izd-saiding')
		span.products__card-title
			| Сайдинг
	.products__card
		svg.products__card-img
			use(xlink:href='#izd-himia')
		span.products__card-title
			| Строительная химия
	.products__card
		svg.products__card-img
			use(xlink:href='#izd-sandvich')
		span.products__card-title
			| Сендвич-панели
	.products__card
		svg.products__card-img
			use(xlink:href='#izd-pprofile')
		span.products__card-title
			| Пластиковые профили
	.products__card
		svg.products__card-img
			use(xlink:href='#izd-krepej')
		span.products__card-title
			| Крепежи
	.products__card
		svg.products__card-img
			use(xlink:href='#izd-mpena')
		span.products__card-title
			| Монтажные пены