section.products.offset
	a.products__card(href="#")
		svg.products__card-img
			use(xlink:href='#izd-podokonniki')
		span.products__card-title
			| Подоконники
	a.products__card(href="#")
		svg.products__card-img
			use(xlink:href='#izd-metall')
		span.products__card-title
			| Изделия из металла
	a.products__card(href="catalog.html")
		svg.products__card-img
			use(xlink:href='#izd-catalog')
		span.products__card-title
			| Каталог
	a.products__card(href="#")
		svg.products__card-img
			use(xlink:href='#izd-moskit')
		span.products__card-title
			| Москитные сетки
	a.products__card(href="#")
		svg.products__card-img
			use(xlink:href='#izd-saiding')
		span.products__card-title
			| Сайдинг
	a.products__card(href="#")
		svg.products__card-img
			use(xlink:href='#izd-himia')
		span.products__card-title
			| Строительная химия
	a.products__card(href="#")
		svg.products__card-img
			use(xlink:href='#izd-sandvich')
		span.products__card-title
			| Сендвич-панели
	a.products__card(href="#")
		svg.products__card-img
			use(xlink:href='#izd-pprofile')
		span.products__card-title
			| Пластиковые профили
	a.products__card(href="#")
		svg.products__card-img
			use(xlink:href='#izd-krepej')
		span.products__card-title
			| Крепежи
	a.products__card(href="#")
		svg.products__card-img
			use(xlink:href='#izd-mpena')
		span.products__card-title
			| Монтажные пены