section.brands.offset
	.h2 Производители
	.brands__slider
		.swiper-wrapper
			.brands__card.swiper-slide
				+png2x-pic('images', 'prz-tehnikol', ['webp','png'], "Технониколь")
			.brands__card.swiper-slide
				+png2x-pic('images', 'prz-zpdk', ['webp','png'], "Завод ПДК")
			.brands__card.swiper-slide
				+png2x-pic('images', 'prz-sevstal', ['webp','png'], "Северсталь")
			.brands__card.swiper-slide
				+png2x-pic('images', 'prz-stroipol', ['webp','png'], "Стройполимер")
			.brands__card.swiper-slide
				+png2x-pic('images', 'prz-penosil', ['webp','png'], "PENOSIL")
			.brands__card.swiper-slide
				+png2x-pic('images', 'prz-tehnikol', ['webp','png'], "Технониколь")
			.brands__card.swiper-slide
				+png2x-pic('images', 'prz-zpdk', ['webp','png'], "Завод ПДК")
			.brands__card.swiper-slide
				+png2x-pic('images', 'prz-sevstal', ['webp','png'], "Северсталь")
			.brands__card.swiper-slide
				+png2x-pic('images', 'prz-stroipol', ['webp','png'], "Стройполимер")